<div class="col-6">
  <h2>My meetings</h2>
    <% @user_meetings.each do |meeting| %>
      <div class="boite">
        <p> Title: <%= meeting.title %><p>
        <p>Description: <%= meeting.description %></p>
        <p>Date: <%= meeting.date %></p>
      </div>
      <br>
    <% end %>
</div>

<div data-controller="videoroom">
  <button data-action="click->videoroom#joinVideoroom" id="dailyTrigger">Join</button>
  <div id="video-container" data-videoroom-target="videoContainer"></div>
</div>
