.container_meeting_new {
  height: 430px;
  width: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
}

#title_book{
  color: #2096f3;
}
