// Specific CSS for your home-page
body {
  background: white;
    background-attachment: fixed;
    background-size: cover;

    }

#card {
    background: white;
    text-align: center;
    border-radius: 5px;
    margin: 5em auto;
    height: 350px;
    width: 1200px;


  }



  .details {
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 40%;

  }

  #card .details h1{

    display: flex;
    align-items: center;
    position: relative;
    font-size: 50px;
    font-weight: bold;
    color: #2196f3;
    margin: 20;
  }



  #card .details > p {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: black;

  }
  .control{
    position: absolute;
    bottom: 20%;
    left: 22.8%;

  }
  //  #formato de botton bootstrap quitar !!
  // .btn {
  //   color: white;
  //   padding: 6px 22px;
  //   border-radius: 4px;
  //   background: #2196f3;
  //   box-shadow: 0 0 15px rgba(0,0,0,0.2);
  //   transition: background 0.3s ease;
  // }

  // .btn:hover{transform: translateY(-6px);
  //   background: #1a66ff;}

  // .btn span {
  //   transition: transform 0.3s;
  //   display: inline-block;
  //   padding: 10px 20px;
  //   font-size: 1.2em;
  //   margin:0;
  // }

  .imagehands {
    display: inline-block;
    height: 380px;
    width: 480px;
    object-fit: contain;
    object-position: center;
    box-shadow: 50px 50px 0px 0px #2196f3;
  }


  #card img {width: 100%;height: 100%;}

  .info h2 {text-align: center}
