#container_review{
  height: 400px;
  border-color: #2196f3;
  width: 500px;
  background: white;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 12;

}

.star{
  font-size: 0em;
}

.adjust-nav {
  min-height: 36vh;
}
