<script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
<%# <div data-controller="videoroom"> %>
  <script>
    callFrame = DailyIframe.createFrame();
    callFrame.join({ url: 'https://media-hq.daily.co/videoconference' });
  </script>
<%# </div> %>
