<div class="footer">
  <div class="footer-links">
    <%# <a href="#"><i class="fab fa-github"></i></a> %>
    <a href="#"><i class="fab fa-instagram white-icon"></i></a>
    <a href="#"><i class="fab fa-facebook white-icon"></i></a>
    <a href="#"><i class="fab fa-twitter white-icon"></i></a>
    <a href="#"><i class="fab fa-linkedin white-icon"></i></a>
  </div>
  <div class="footer-copyright white-icon">
    A friend is eager to help you <i class="fa-solid fa-handshake"></i>
  </div>
</div>
