
<div class="col-sm-6" id="card" >

	<div class="details">

	<h1>Give me a hand!</h1>
  <p class="slogan">Whit a friend's help, nothing is impossible!</p>



    <div class="control">
      <%= link_to "Check our friends", friends_path, class: "btn btn_custom_dark" %>
    </div>

  </div>

  <div class="imagehands">
    <img src="https://cdn.pixabay.com/photo/2015/01/15/16/17/hands-600497_960_720.jpg" alt="Image hands">


  </div>

</div>
