.navbar-lewagon {
  justify-content: space-between;
  background: #2196f3;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}
.nav-link {
  color: white
}

.navbar-brand{
  color: white;
  text-shadow: white 1px 0 15px;
  font-weight: bold;
}
.navbar-brand:hover{
  color: white;
}
