<ul class="list-group">
  <% @friends.reviews.each do |review| %>
    <li class="list-group-item"><%= review.commentary %></li>
    <li class="list-group-item"><%= review.rating %></li>
  <% end %>
</ul>
<br>
